//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.btn {
	display: inline-block;
	// @include adaptiveValue("padding-top", 14, 10, 0, 992, 768);
	// @include adaptiveValue("padding-bottom", 14, 10, 0, 992, 768);
	// @include adaptiveValue("padding-right", 48, 24, 0, 992, 768);
	// @include adaptiveValue("padding-left", 48, 24, 0, 992, 768);
	padding: rem(14) rem(48);
	text-align: center;
	font-weight: 700;
	font-size: rem(14);
	text-transform: uppercase;
	line-height: math.div(21, 14);
	color: $white;
	background-color: $accentColor;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #e7ba0a;
		}
	}
	&._fw {
		width: 100%;
	}
}
